.container {
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}
.content {
    padding: 10px 0;
}
.title_and_link_container {}
.title_container {}
#title {
    font-weight: 600;
    font-size: 24px;
    color: #000;
}
.links_container {
    margin-left: 150px;
}
.login_links {}
